html, body {
    height: 100%
}

img {
 height:100px ;
 width: 100px;
 object-fit:scale-down;
}

ul {
	position: fixed;
	top: 0;
	width:100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #c5d5c5; 
}

li.l{float: left;}
li.r{float: right;}

li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover,input[type=submit]:hover {
	background-color: #9fa9a3;
	color: white;
}
