{% load static %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title here{% endblock title %}</title>
    <meta name="description" content="Description goes here TODO">
    <link rel="stylesheet" type="text/css" href="{% static 'static/style.css' %}">
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Navigation Bar -->
    <ul>
        <li class="l"><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
        <li class="l"><a href="{% url 'product:list' %}">Shop</a></li>
        <li class="l"><a href="{% url 'product:add' %}">Sell</a></li>
        <li class="r"><a href="{% url 'account:login' %}"><i class="fa fa-user"></i></a></li>
        <li class="r"><a href="{% url 'message:inbox' %}"><i class="fa fa-comments"></i></a></li>
        <li class="r"><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i></a></li>
    </ul>
    {% block content %}
    {% endblock %}
<footer>
    &copy; Vintage By Yourself
</footer>
</body>
</html>