{% extends 'listing/base.html' %}
{% load static %}


{% block title %}Trades{% endblock title %}

{% block content %}

<h1>Trade for {{product.name}}</h1>

	{% if user %}

		<p> <b> What would you like to trade? </b> </p>
		<form action="" method="POST">
			{% csrf_token %}
			{% for p in mine %}
				<p>
					<input type="radio" name="prova" value={{p.id}}>
					<label for=prova>{{p.name}}</label>
				</p>
			{% endfor %}
			{% if mine %}
				<p>
					<input type="checkbox" id="wantMsg" name="wantMsg" oninput="textbox(this)">
					<label for="wantMsg">Send a message to {{product.owner}}?</label><br><br>
					<textarea id="msg" name="msg" style="display: none;" rows="20" cols="100" placeholder="Type your message  here..."></textarea><br>
					<input type="submit" name="submit" onclick="prep()">
				</p>
			{% else %}
				<p>
					You have nothing to trade
				</p>
			{% endif%}
		</form>
	{% else %}
		<p> You must sign in to trade. </p>
	{% endif %}
	
<script type="text/javascript">
	
	function textbox(r) {
		var box = document.getElementById("msg");
		if(r.checked){
			box.setAttribute("style", "display: block;");
		}
		else
		{
			box.setAttribute("style", "display: none");
		}
	}
	
	function  prep(){
		var things = document.getElementsByName("prova");
		for (var i = things.length - 1; i >= 0; i--) {
			if(!things[i].checked){
				things[i].setAttribute("name","notthis")
			}
		}
		var wantMsg = document.getElementById("wantMsg");
		if(wantMsg.checked){

			var msg = document.getElementById('msg');
			var message = msg.value;
			sessionStorage.setItem("msg", message);
		}
	}

</script>
	
{% endblock %}