
{% extends 'account/base.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}

{% block content %}
	
		
		<h1>Welcome to your account, {{request.user.username}}</h1>

		<div class="account">
		<p> <a href="{% url 'listing:myproducts' %}">View your products currently on sale</a></p>
		<p><a href="{% url 'listing:myorders' %}"> View your orders</a></p>
		<p><a href="{% url 'listing:mytrades' %}"> View your trades and requests</a></p><br/>
		<input type="button" value="Log out" onclick="location.href='logout';" />
		

	</div>


{% endblock content %}


