<style>
  div.c_panel{
        float: right;
    }
    a:link {
      color: blue;
      text-decoration: none;
  }

  /* visited link */
  a:visited {
      color: purple;
  }

  /* mouse over link */
  a:hover {
      color: green;
      text-decoration: underline;
  }
</style>
<div class="c_panel">
<a href="{% url 'index' %}">Chat</a>
<a href="{% url 'shop' %}">Shop</a>
<a href="{% url 'account_info' %}">My account</a>
<a href="{% url 'signup' %}">Signup</a>
<a href="{% url 'login' %}">Login</a>
<!--<a href="{% url 'logout' %}">Logout</a>-->
</div>
<h1>Login</h1>
<div>{{ form.non_field_ezrrors }}</div>
<form action="" method="post">
    {% csrf_token %}
    <p>
      Username: <input type="text" name="username" />
      {{ form.username.errors }}
    </p>
      Password: <input type="password" name="password" />
      {{ form.password.errors }}
    </p>
    <p>
      <input type="submit" value="Login" />
    </p>
</form>

