
{% extends 'listing/base.html' %}
{% load static %}

{% block title %} Cart {% endblock title %}

{% block content %}
	<section id="page-content">
		<p><br /></p>
		<h1>{{request.user.username}}'s cart</h1>
		{% if orders %}
			{% for o in orders %}
				{% if not o.is_ordered %}
					{%if o.owner == request.user%}
						{% for p in o.products.all %}
							<p>
								{{p.count}} {{p}}
								<a href="{% url 'listing:remove' p.id%}">Remove</a>
							</p>
						{% endfor %}
						{% if o.get_total_price > 0 %}
							<p>Total price of cart: {{o.get_total_price}} CAD</p>
							<a href="" class="btn">Checkout</a> </br>
						{%else%}
							<p>Your cart is empty</p>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% else %}
		<p> Your cart is empty </p>
		{% endif %}

	</section>



{% endblock content %}


