
{% extends 'listing/base.html' %}
{% load static %}

{% block title %}My Listings{% endblock title %}

{% block content %}
	<p><br /></p>
	<h1>My listing</h1>
	{% if list %}
	{% for p in list %}
	{% if p.owner.username == request.user.username%}
		<img src="{{p.image.url}}" alt="{{product.name}}" style="height: 400px; width: 400px; object-fit: scale-down;"/> </br>
		<a href="{% url 'listing:detail' p.id%}">{{p.name}}</a> <br />
	{% endif %}
	{% endfor %}
	{% else %}
	<p>No products</p>
	  {% endif %}
{% endblock content %}

