
{% extends 'listing/base.html' %}
{% load static %}

{% block title %}Listings{% endblock title %}

{% block content %}
	<p><br /></p>
	<h1>Listings</h1>
	{% if list %}
	{% for p in list %}
	<p>
		<img src="{{p.image.url}}" alt="{{product.name}}" style="height: 400px; width: 400px; object-fit: scale-down;"/><br />
		<a href="{% url 'listing:detail' p.id%}" style="margin:20px">{{p.name}}</a> {{p.price}} CAD
		{% if p.owner.username != request.user.username%}
		<a href="{% url 'listing:add' p.id%}">Add to cart</a>
		{% endif %} 
	</p>
	{% endfor %}
	{% else %}
	<p>No products</p>
    {% endif %}
{% endblock content %}

