{% extends 'listing/base.html' %}
{% load static %}

{% block title %}Sell{% endblock title %}

{% block content %}
<section id="page-content">
    <h3> What do you want to sell? </h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            Name: <input type="text" name="name" />
            {{form.name.errors}}
        </div>
        <div>
            Photo: <input type="file" name="image" />
            {{form.image.errors}}
        </div>
        <div>
            Description: <input type="text" name="description" />
            {{form.description.errors}}
        </div>
        <div>
            Price: <input type="text" name="price" />
            {{form.price.errors}}
        </div>
        <div>
            How many are you selling?  <input type="text" name="count" />
            {{form.count.errors}}
        </div>
        <div>
            Category: <select name="category">
            <option value="clothing">Clothing</option>
            <option value="furniture">Furniture</option>
            <option value="electronics">Electronics</option>
            </select>
            {{form.category.errors}}
        </div>
        <input type="submit" />
    </form>
</section>
{% endblock content %}