{% extends 'listing/base.html' %}
{% load static%}

{% block content %}
<p><br/></p>
<h1>{{product.name}}</h1>
<img src="{{product.image.url}}" alt="{{product.name}}" style="width: 300px;height:360px"> <br/>
Seller : {{product.owner}} <br/> <!-- Add link to message room -->
{{product.description}} <br/>
Price : {{product.price}} CAD <br/>
Available: {{product.count}}<br/>

<!--<button type="submit">Add to Cart</button><br/>-->
{% if product.owner.username == request.user.username  %}
	<a href="{% url 'listing:update' product.id%}">Update this item</a><br/>
	<a href="{% url 'listing:delete' product.id%}">Delete this item</a>
{% else %}
<a href="{% url 'listing:add' product.id%}">Add to cart</a> <br/>


<a href="{%url 'chat:room' product.owner.username%}">Contact Seller</a> <br/>

<a href="{% url 'listing:trade' product.id%}">Trade for this item</a> <br/>
{% endif %}


{% endblock content %}
